@page "/"

<h1>Welcome to the Server Starter <span class="devAlphaText">Alpha</span> Page.</h1>

Here you can queue for your balance mod server, and get put in once the player number requirements are met.<br/>
<NavLink href="communities">Login and ready up, maggot!</NavLink>