h1 {
    font-size: 4rem;
    line-height: normal;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.head {
    font-family: 'TF2Build';
    line-height: normal;
    text-align: center;
}
.banner {
    max-height: 200px;
    max-width: 1000px;
    margin-bottom: 30px;
}
.loading {
    margin: 50px;
}
.regions {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.indicator {
    margin-top: 50px;
}
.details {
    margin-top: 50px;
}