@page "/regions"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.Logging
@using ServerStarter.Client.Hubs
@using ServerStarter.Shared
@using ServerStarter.Client.Components
@using RegionDto = ServerStarter.Shared.Region;
@attribute [Authorize]
@implements IDisposable
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IAccessTokenProvider AccessTokenProvider
@inject ILogger<Communities> Logger
@inject QueueSettings Settings
@inject IQueueService QueueService


<div class="container">

    <div class="head">
        <h1>choose your region</h1>

        @if (_regions == null)
        {
            <p class="loading"load><em>Loading...</em></p>
        }
        else
        {
            <div class="regions">
                @foreach (var region in _regions)
                {
                    <RegionComponent Region="region"></RegionComponent>

                    <div class="seperator"></div>
                }
            </div>
        }
    </div>
    
    @if (QueueService.State == HubConnectionState.Connected)
    {
        <div class="indicator">
            <figure class="queuedIcon"/>
            <span>updating automatically</span>
        </div>
    }
    else
    {
        <div class="indicator">
            <figure class="queuedIcon stopped"/>
            <span>Unable to update. Please reload the page.</span>
        </div>
    }
    <EditForm Model="@Settings" class="d-flex flex-column">
        @*OnValidSubmit="@SettingsSpeichern"*@
        <DataAnnotationsValidator />

        <label>
            <InputCheckbox id="playsounds" @bind-Value="Settings.PlaySounds"></InputCheckbox>
            Play sounds
        </label>
        <label>
            <InputCheckbox id="automaticJoinEnabled" @bind-Value="Settings.AutomaticJoinEnabled"></InputCheckbox>
            automatically join,<InputNumber id="automaticJoinDelay" class="shortInline" @bind-Value="Settings.AutomaticJoinDelayInSeconds"></InputNumber> seconds after server is ready to play
        </label>

        <ValidationSummary />
        @*<button type="submit">Submit</button>*@
    </EditForm>
    <div class="description">
        <DescriptionComponent></DescriptionComponent>
    </div>

</div>
@code {

    private RegionDto[] _regions;

    protected override async Task OnInitializedAsync()
    {
        await LoadRegions();
    }

    private async Task LoadRegions()
    {
        try
        {
            _regions = await Http.GetFromJsonAsync<RegionDto[]>("api/Region");
            await QueueService.Init();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
