@inherits LayoutComponentBase
@inject NotesConfiguration NotesConfiguration

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
    
@if(NotesConfiguration.CreatorsTf)
{ 
    <footer>
        <div class="creatorsAssetPackNote">
            Note: <a href="https://www.balancemod.tf/" target="_blank">Official Balance Mod</a> servers uses the content pack from <a href="https://creators.tf/" target="_blank">creators.tf</a>. <span class="error">To avoid seeing errors</span> download the content from their launcher <a href="https://creators.tf/launcher" target="_blank">here</a>
        </div>
    </footer>
}