<p class="br">Here you can queue for your balance mod server, and get put in once the player number requirements are met.</p>
<p>The current requirement is 12.</p>

<p class="br">How it works:</p>
<p class="br">Click “Ready to play” for the region you want to play in. Leave the page open.</p>
<p class="br">Go do something else while the queue fills, like play casual, another community server, make a cup of tea.</p>
<p>You will get a (very loud) notification when it's time to join the game.</p>

<p>Tip: If TF2 is not already open it will start TF2 on default settings, so we recommend having  TF2 running when you click join.</p>

<p class="br">Closing or refreshing this page will remove you from the queue.</p>
<p>Players already playing on a server are considered to be in the queue.</p>

<p>This page is still in <span class="devAlphaText">Alpha</span> so please report any bugs or issues to <code class="discordUser">HiGPS</code> on the <a href="https://discord.gg/VMAJgEJ">discord</a>.</p>